<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create</property>

        <mapping class="com.beehyv.wareporting.model.User"/>
        <mapping class="com.beehyv.wareporting.model.ModificationTracker"/>
        <mapping class="com.beehyv.wareporting.model.Location"/>
        <mapping class="com.beehyv.wareporting.model.Permissions"/>
        <mapping class="com.beehyv.wareporting.model.Role"/>
        <mapping class="com.beehyv.wareporting.model.State"/>
        <mapping class="com.beehyv.wareporting.model.District"/>
        <mapping class="com.beehyv.wareporting.model.Block"/>
        <mapping class="com.beehyv.wareporting.model.Circle"/>
        <mapping class="com.beehyv.wareporting.model.Languages"/>
        <mapping class="com.beehyv.wareporting.model.AnonymousUsers"/>
        <mapping class="com.beehyv.wareporting.model.Swachchagrahi"/>
        <mapping class="com.beehyv.wareporting.model.WACourseCompletion"/>
        <mapping class="com.beehyv.wareporting.model.StateCircle"/>
        <mapping class="com.beehyv.wareporting.model.StateService"/>
        <mapping class="com.beehyv.wareporting.model.LoginTracker"/>
        <mapping class="com.beehyv.wareporting.model.WACumulativeSummary"/>
        <mapping class="com.beehyv.wareporting.model.Panchayat"/>
        <mapping class="com.beehyv.wareporting.model.BeneficiaryCallMeasure"/>

    </session-factory>
</hibernate-configuration>