<div class="block login" ng-controller="ChangePassword" >

    <div class='login-header'>
        <!-- <img src="images/NHM_Logo.png"> -->
    </div>


<div class="container-fluid">
    <div class=" col-xs-offset-4 col-xs-4">
        <form name="changePasswordForm" class="form-horizontal" novalidate>

            <div class="form-group" ng-class="{'has-error':changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine}">

                <div class="col-xs-10">
                    <input name="oldPassword" id="oldPassword" type="password" class="form-control input input-sm" ng-model="password.oldPassword" placeholder="Old Password"required>

                    <div class="errorMessage" ng-messages="changePasswordForm.oldPassword.$error" role="alert" ng-show="!changePasswordForm.oldPassword.$pristine">
                        <div ng-message="required">This field cannot be empty</div>
                    </div>
                </div>
            </div>


            <div class="form-group" ng-class="{'has-error':changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine}">

                <div class="col-xs-10">
                    <input name="newPassword" id="newPassword" type="password" class="form-control input input-sm" ng-model="password.newPassword" placeholder="New Password" ng-minlength="6" required>

                    <div class="errorMessage" ng-messages="changePasswordForm.newPassword.$error" role="alert" ng-show="!changePasswordForm.newPassword.$pristine">
                        <div ng-message="required">This field cannot be empty</div>
                        <div ng-message="minlength">Password has to be atleast 6 characters long</div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine && (changePasswordForm.newPassword != changePasswordForm.confirmPassword)}">

                <div class="col-xs-10">
                    <input name="confirmPassword" id="confirmPassword" type="password" class="form-control input input-sm" ng-model="confirmPassword" placeholder="Confirm Password" required
                           ui-validate="'$value==password.newPassword'" ui-validate-watch=" 'password.newPassword'">

                    <div class="errorMessage" ng-messages="changePasswordForm.confirmPassword.$error" role="alert" ng-show="!changePasswordForm.confirmPassword.$pristine">
                        <div ng-message="required">This field cannot be empty</div>
                        <div ng-message="validator">Password does not match</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="button" ng-click="changePasswordSubmit()" class="btn btn-sm btn-primary">Save</button>
                    <button type="button" ng-click="clearForm()" class="btn btn-sm btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>