<div class="block login" data-ng-controller="ChangePassword" >

    <div class='login-header'>
        <!-- <img src="images/NHM_Logo.png"> -->
    </div>


    <div class="container-fluid">
        <div class=" col-xs-offset-4 col-xs-4">
            <form name="changePasswordForm" class="form-horizontal" novalidate>

                <div class="form-group" data-ng-class="{'has-error':changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine}">

                    <div class="col-xs-10">
                        <input name="oldPassword" id="oldPassword" autocomplete="off"  type="password" class="form-control input input-sm" data-ng-model="password.oldPassword" placeholder="Old Password" required>

                        <div class="errorMessage" data-ng-messages="changePasswordForm.oldPassword.$error" role="alert" data-ng-show="!changePasswordForm.oldPassword.$pristine">
                            <div data-ng-message="required">This field cannot be empty</div>
                        </div>
                    </div>
                </div>


                <div class="form-group" data-ng-class="{'has-error':changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine}">

                    <div class="col-xs-10">
                        <input name="newPassword" id="newPassword" autocomplete="off"  type="password" class="form-control input input-sm" data-ng-model="password.newPassword" placeholder="New Password"  data-ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/"  required>

                        <div class="errorMessage" data-ng-messages="changePasswordForm.newPassword.$error" role="alert" data-ng-show="!changePasswordForm.newPassword.$pristine">
                            <div data-ng-message="required">This field cannot be empty</div>
                            <div data-ng-message="pattern">Password should be at least 8 characters
                                long and should contain at least one number,one upper case, one lower case and one special
                                character</div>
                        </div>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error':changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine && (changePasswordForm.newPassword != changePasswordForm.confirmPassword)}">

                    <div class="col-xs-10">
                        <input name="confirmPassword" id="confirmPassword" autocomplete="off"  type="password" class="form-control input input-sm" data-ng-model="confirmPassword" placeholder="Confirm Password" required
                               data-ui-validate="'$value==password.newPassword'" data-ui-validate-watch=" 'password.newPassword'">

                        <div class="errorMessage" data-ng-messages="changePasswordForm.confirmPassword.$error" role="alert" data-ng-show="!changePasswordForm.confirmPassword.$pristine">
                            <div data-ng-message="required">This field cannot be empty</div>
                            <div data-ng-message="validator">Password does not match</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="button" data-ng-click="changePasswordSubmit()" class="btn btn-sm btn-primary">Save</button>
                        <button type="button" data-ng-click="clearForm()" class="btn btn-sm btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>