<div class="block login" data-ng-controller="ForgotPasswordController" >

    <div class='login-header'>
        <!-- <img src="images/NHM_Logo.png"> -->
    </div>


    <div   class="container-fluid login-body">
        <div class="form-horizontal col-xs-offset-4 col-xs-4">
            <form name="forgotPasswordForm">

                <div  data-ng-if="!waiting" class="form-group" data-ng-class="{'has-error':forgotPasswordForm.username.$invalid && !forgotPasswordForm.username.$pristine}">

                    <input name="username" id="username" type="text" autocomplete="off" class="form-control input input-sm" placeholder="Username" data-ng-model="forgotPassword.username" required
                           data-ng-minlength="2">

                    <div class="errorMessage" data-ng-messages="forgotPasswordForm.username.$error" role="alert" data-ng-show="!forgotPasswordForm.username.$pristine">
                        <div data-ng-message="required">This field cannot be empty</div>
                        <div data-ng-message="minlength">Username is too short</div>
                    </div>

                </div>

                <div style="margin-bottom: 10px" data-ng-if="!waiting" vc-recaptcha key="'6LcJgYgUAAAAANaRqYM6UFUaY8H3pPUTK6Tt1qsL'"></div>

                <div data-ng-if="!waiting" class="form-group">
                    <button data-ng-click="forgotPasswordSubmit()"  id="btn-login" class="btn btn-sm btn-primary">submit</button>
                    <button id ="back-to-login" type="button" data-ui-sref = "login" class="btn btn-sm btn-default">Back To Login</button>
                </div>


            </form>
            <div data-ng-if="waiting" class="loading">
                <h1>please wait while loading</h1>
                <img src="images/pageloader.gif" alt="loading...">
            </div>
        </div>
    </div>
</div>