<div class='container'>
	<!-- <div class='col-xs-6'> -->
		<!-- <label>
			<span>Showing</span> 
			<select class="form-control" name="table-entities-length" ng-model="$parent.numPerPage" ng-options="row for row in $parent.numPerPageList" style="display: inline-block;">
			</select>
			<span>Entries</span>

			<p>{{totalItems}} results found</p>
		</label> -->
	<!-- </div> -->

	<!-- <div class='col-xs-6'> -->

		<ul uib-pagination boundary-links="true" 
		total-items="totalItems" items-per-page="itemsPerPage"
		ng-model="currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

	<!-- </div> -->
		

</div>
