<div class="container-fluid">
	<div ng-controller="ProfileController" class="profile">
		<div class="block">
			<div class="block">
				<h1>Profile</h1>
			</div>

			<form name="profileForm" class="form-horizontal" novalidate>

				<div class="form-group">
					<label class="control-label col-xs-2">Full Name</label>
					<div class="col-xs-10">
						<input name="name" type="text" class="form-control input input-sm" placeholder="Full Name" ng-model="user.name" ng-disabled="true">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2">Username</label>
					<div class="col-xs-10">
						<input name="username" type="text" class="form-control input input-sm" placeholder="Username" ng-model="user.username" ng-disabled="true">
					</div>
				</div>

				<hr style="margin:30px">

				<div class="form-group">
					<div>
						<label class="control-label col-xs-2">Access Level</label>
						<div class="col-xs-2">
							<select name="accessLevel" class="form-control input input-sm"  ng-model="user.accessLevel" ng-options="item for item in accessLevelList" ng-disabled="true">
							</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">Access Type</label>
						<div class="col-xs-2">
							<select name="accessLevel" class="form-control input input-sm"  ng-model="user.accessType" ng-options="item for item in accessTypeList" ng-disabled="true">
						</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div>
						<label class="control-label col-xs-2">State</label>
						<div class="col-xs-2">
							<select name="state" class="form-control input input-sm"  ng-model="user.state" ng-options="item for item in stateList" ng-disabled="true">
							</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">District</label>
						<div class="col-xs-2">
							<select name="district" class="form-control input input-sm"  ng-model="user.district" ng-options="item for item in districtList" ng-disabled="true">
						</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">Block</label>
						<div class="col-xs-2">
							<select name="block" class="form-control input input-sm"  ng-model="user.block" ng-options="item for item in blockList" ng-disabled="true">
						</select>
						</div>
					</div>
				</div>
			</form>

			<hr style="margin:30px">

			<form name="contactsForm" class="form-horizontal" novalidate>

				<div class="form-group">
					<div ng-class="{'has-error':contactsForm.email.$invalid && !contactsForm.email.$pristine}">
						<label class="control-label col-xs-2">Email</label>
						<div class="col-xs-2">
							<input name="email" type="email" autocomplete="off" class="form-control input input-sm" ng-model="contact.email" placeholder="Email" required>
							<div class="errorMessage" ng-messages="contactsForm.email.$error" role="alert" ng-show="!contactsForm.email.$pristine">
								<div ng-message="required">This field cannot be empty</div>
								<div ng-message="email">Enter a valid email</div>
							</div>
						</div>

					</div>
					<div ng-class="{'has-error':contactsForm.phoneNumber.$invalid && !contactsForm.phoneNumber.$pristine}">
						<label class="control-label col-xs-2">Contact no.</label>
						<div class="col-xs-2">
							<input name="phoneNumber" type="text" autocomplete="off" class="form-control input input-sm" ng-model="contact.phoneNumber" placeholder="Contact no." required
							ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10">

							<div class="errorMessage" ng-messages="contactsForm.phoneNumber.$error" role="alert" ng-show="!contactsForm.phoneNumber.$pristine">
								<div ng-message="required">This field cannot be empty</div>
								<div ng-message="pattern">Input contains non-numeric characters</div>
								<div ng-message="minlength">Number is too short</div>
								<div ng-message="maxlength">Number is too long</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group" style="margin-top:30px">
					<div class="col-xs-offset-2 col-xs-10">
						<button type="button" ng-click="resetContacts()" class="btn btn-sm btn-default">Reset</button>
						<button type="button" ng-click="updateContactsSubmit()" class="btn btn-sm btn-primary">Update Contact Info</button>
					</div>
				</div>

			</form>


		</div>
	</div>
</div>