<div class="container-fluid">
	<div ng-controller="ProfileController" class="profile">
		<div class="block">
			<div class="block">
				<h1>Profile</h1>
			</div>

			<form name="profileForm" class="form-horizontal" novalidate>

				<div class="form-group">
					<label class="control-label col-xs-2">Full Name</label>
					<div class="col-xs-10">
						<input name="name" type="text" class="form-control input input-sm" placeholder="Full Name" ng-model="user.name" ng-disabled="true">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2">Username</label>
					<div class="col-xs-10">
						<input name="username" type="text" class="form-control input input-sm" placeholder="Username" ng-model="user.username" ng-disabled="true">
					</div>
				</div>

				<hr style="margin:30px">

				<div class="form-group">
					<div>
						<label class="control-label col-xs-2">Access Level</label>
						<div class="col-xs-2">
							<select name="accessLevel" class="form-control input input-sm"  ng-model="user.accessLevel" ng-options="item for item in accessLevelList" ng-disabled="true">
							</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">Access Type</label>
						<div class="col-xs-2">
							<select name="accessLevel" class="form-control input input-sm"  ng-model="user.accessType" ng-options="item for item in accessTypeList" ng-disabled="true">
						</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div>
						<label class="control-label col-xs-2">State</label>
						<div class="col-xs-2">
							<select name="state" class="form-control input input-sm"  ng-model="user.state" ng-options="item for item in stateList" ng-disabled="true">
							</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">District</label>
						<div class="col-xs-2">
							<select name="district" class="form-control input input-sm"  ng-model="user.district" ng-options="item for item in districtList" ng-disabled="true">
						</select>
						</div>
					</div>
					<div>
						<label class="control-label col-xs-2">Block</label>
						<div class="col-xs-2">
							<select name="block" class="form-control input input-sm"  ng-model="user.block" ng-options="item for item in blockList" ng-disabled="true">
						</select>
						</div>
					</div>
				</div>
			</form>

			<hr style="margin:30px">

			<form name="contactsForm" class="form-horizontal" novalidate>

				<div class="form-group">
					<div ng-class="{'has-error':contactsForm.email.$invalid && !contactsForm.email.$pristine}">
						<label class="control-label col-xs-2">Email</label>
						<div class="col-xs-2">
							<input name="email" type="email" class="form-control input input-sm" ng-model="contact.email" placeholder="Email" required>
							<div class="errorMessage" ng-messages="contactsForm.email.$error" role="alert" ng-show="!contactsForm.email.$pristine">
								<div ng-message="required">This field cannot be empty</div>
								<div ng-message="email">Enter a valid email</div>
							</div>
						</div>

					</div>
					<div ng-class="{'has-error':contactsForm.phoneNumber.$invalid && !contactsForm.phoneNumber.$pristine}">
						<label class="control-label col-xs-2">Contact no.</label>
						<div class="col-xs-2">
							<input name="phoneNumber" type="text" class="form-control input input-sm" ng-model="contact.phoneNumber" placeholder="Contact no." required
							ng-pattern="/^[0-9]*$/" ng-minlength="10" ng-maxlength="10">

							<div class="errorMessage" ng-messages="contactsForm.phoneNumber.$error" role="alert" ng-show="!contactsForm.phoneNumber.$pristine">
								<div ng-message="required">This field cannot be empty</div>
								<div ng-message="pattern">Input contains non-numeric characters</div>
								<div ng-message="minlength">Number is too short</div>
								<div ng-message="maxlength">Number is too long</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group" style="margin-top:30px">
					<div class="col-xs-offset-2 col-xs-10">
						<button type="button" ng-click="resetContacts()" class="btn btn-sm btn-default">Reset</button>
						<button type="button" ng-click="updateContactsSubmit()" class="btn btn-sm btn-primary">Update Contact Info</button>
					</div>
				</div>

			</form>

			<!--<form name="changePasswordForm" class="form-horizontal" novalidate>-->

				<!--<div class="form-group" ng-class="{'has-error':changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine}">-->
					<!--<label class="control-label col-xs-2">Old Password</label>-->
					<!--<div class="col-xs-10">-->
						<!--<input name="oldPassword" id="oldPassword" type="password" class="form-control input input-sm" ng-model="password.oldPassword" placeholder="Old Password" required>-->

						<!--<div class="errorMessage" ng-messages="changePasswordForm.oldPassword.$error" role="alert" ng-show="!changePasswordForm.oldPassword.$pristine">-->
							<!--<div ng-message="required">This field cannot be empty</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->


				<!--<div class="form-group" ng-class="{'has-error':changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine}">-->
					<!--<label class="control-label col-xs-2">New Password</label>-->
					<!--<div class="col-xs-10">-->
						<!--<input name="newPassword" id="newPassword" type="password" class="form-control input input-sm" ng-model="password.newPassword" placeholder="New Password" ng-minlength="6" required>-->

						<!--<div class="errorMessage" ng-messages="changePasswordForm.newPassword.$error" role="alert" ng-show="!changePasswordForm.newPassword.$pristine">-->
							<!--<div ng-message="required">This field cannot be empty</div>-->
							<!--<div ng-message="minlength">Password has to be atleast 6 characters long</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="form-group" ng-class="{'has-error':changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine && (changePasswordForm.newPassword != changePasswordForm.confirmPassword)}">-->
					<!--<label class="control-label col-xs-2">Confirm Password</label>-->
					<!--<div class="col-xs-10">-->
						<!--<input name="confirmPassword" id="confirmPassword" type="password" class="form-control input input-sm" ng-model="confirmPassword" placeholder="Confirm Password" required -->
						<!--ui-validate="'$value==password.newPassword'" ui-validate-watch=" 'password.newPassword'">-->

						<!--<div class="errorMessage" ng-messages="changePasswordForm.confirmPassword.$error" role="alert" ng-show="!changePasswordForm.confirmPassword.$pristine">-->
							<!--<div ng-message="required">This field cannot be empty</div>-->
							<!--<div ng-message="validator">Password does not match</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="form-group">-->
					<!--<div class="col-xs-offset-2 col-xs-10">-->
						<!--<button type="button" ng-click="clearForm()" class="btn btn-sm btn-default">Clear</button>-->
						<!--<button type="button" ng-click="changePasswordSubmit()" class="btn btn-sm btn-primary">Change Password</button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</form>-->
		</div>
	</div>
</div>