<div class="container-fluid usermanual-padding0" data-ng-controller="UserManualController">

    <div class="userManual-block container-fluid">
    <p>This guide will explain the feature-functionality across all sections of the MIS portal and how to use the functionality. Select your user role from the drop down below to start the walk through of the MIS portal. </p>
  <!--  <p>I am a:
        <select data-ng-model="selectRole" data-ng-change="fnk();" class="userManualSelectpicker">
            <option data-ng-repeat="x in roles" value="{{x.id}}">{{x.role}}</option>
        </select></p>-->
        <span class = "dropdown" > I am a:</span>
        <div class="dropdown" style="display: inline-flex" data-uib-dropdown data-dropdown-append-to-body>
                <button id="btn-append-to-body" type="button" class="btn btn-sm " data-uib-dropdown-toggle >
                    {{selectRoleValue}}
                    <span data-ng-if="selectRoleValue == null">Select Role</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu report-dropdown-menu" data-uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" data-ng-repeat="x in roles">
                        <a class="report_category" data-ng-click='fnk(x);'>
                            <span>{{x.role}}</span>
                        </a>
                    </li>
                </ul>
            </div>




    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 user-manual">

            <div data-ng-click="active1='wi'; func('wi')" data-ng-class="{'sideNavbar': active1 =='wi'}">Website Information
                <span class="glyphicon glyphicon-plus plusSign"></span>
            </div>
            <div data-ng-click="active1='ma';func('ma')" data-ng-class="{'sideNavbar': active1 =='ma'}" data-ng-hide="selectRole < 1">BA Line Listing Reports
                <span class="glyphicon glyphicon-plus plusSign"></span>
            </div>
            <div data-ng-click="active1='ma-agg';func('ma-agg')" data-ng-class="{'sideNavbar': active1 =='ma-agg'}" data-ng-hide="selectRole < 1">BA Aggregate Reports
                <span class="glyphicon glyphicon-plus plusSign"></span>
            </div>
            <div data-ng-click="active1='um';func('um')" data-ng-class="{'sideNavbar': active1 =='um'}" data-ng-hide="selectRole < 5">User Management
                <span class="glyphicon glyphicon-plus plusSign"></span>
            </div>
            <div data-ng-click="active1='pr';func('pr')" data-ng-class="{'sideNavbar': active1 =='pr'}">My Profile
                <span class="glyphicon glyphicon-plus plusSign" ></span>
            </div>

    </div>
    <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9" >
        <div data-ng-app="myApp" class="userManual-right">
            <div data-ui-view ></div>
    </div>
    </div>
</div>
