<div class="container-fluid" data-ng-controller="websiteInformationController" style="padding-left: 30px">
    <div data-ui-view></div>
    <h2>Website Information</h2>
    <div class="userManualPic">
        <!--<h4><b>MIS Header</b></h4>-->
        <!--<p>The MIS header displays the “GoI” logo at the top left, "Digital India" and "National Health Mission" logos at the top right corner.</p>-->
        <!--<img src="images/NewHeader.png" alt="Header"><br><br>-->
        <h4><b>BA</b></h4>
        <p>Takes the user to BA tabs which provides a brief about respective service.</p>
        <img src="images/1.png" alt="aboutLinks">
        <br/><br/><br/>

        <!--<h4><b>Policies, Help and Sitemap</b></h4>-->
        <!--<ul>-->
        <!--<li><b>Terms and conditions</b> link at the bottom-left provides terms and conditions towards the usage of the application.</li>-->
        <!--<li><b>Privacy policy</b> link provides privacy policies of the application for the protection of user data.</li>-->
        <!--<li><b>Copyright policy</b> link provides copyright policy of the code, design and content of the application.</li>-->
        <!--<li><b>Hyperlinking policy</b> link provides a statement regarding the links used in the application.</li>-->
        <!--<li><b>Disclaimer</b> link provides the disclaimer from the 'Ministry of Health and Family Welfare'.</li>-->
        <!--<li><b>Help</b> link provides assistance if there is any difficulty in using the website</li>-->
        <!--<li><b>Sitemap</b> describes about all the urls/tabs in the application.</li>-->
        <!--</ul>-->
        <!--<img src="images/3.png" alt="policyLinks">-->
        <br/><br/><br/>

        <h4><b>User Manual</b></h4>
        <p>1) This guide will explain the feature-functionality across all sections of the MIS portal and how to use the
            functionality. Select your user role from the drop down below to start the walk through of the MIS portal.
            :</p>
        <img src="images/UMwebInfo/UMc1.png" alt="Anonymous onlooker">
        <br/><br/><br/>
        <p>2) Please select the role category from the dropdown options. All reports will be displayed relevant to the
            selected role.</p>
        <img src="images/UMwebInfo/RoleDropdown.png" alt="Role Dropdown">
        <br/><br/>
        <p>3.a) Personnel with Admin level access (National Admin and State Admin roles) have access to the complete
            functionality of the MIS system, available as five tabs at the left hand section of the page, as
            highlighted in the snapshot below. </p>
        <img src="images/UMwebInfo/UMc2.png" alt="Admin access">
        <br/><br/>
        <p>3.b) Personnel with all other user roles (non Admin roles) have access to all functionality of the MIS system
            except User Management, available as four tabs at the left hand section of the page, as highlighted in the
            snapshot below.</p>
        <img src="images/UMwebInfo/UMc3.png" alt="User access">
        <br/><br/><br/>
        <p>4) Click on each tab to go to the respective section of the user manual. On login <b>Website Information</b> will
            be the default page visible to all users.</p><br/>

        <p>5) <b>BA Line Listing Reports</b> tab shows the following page.The list of all BA
            Line Listing Reports available are displayed, as highlighted in the snapshot below.</p>
        <img src="images/UMwebInfo/UMc6.png" alt="MA Section">
        <br/><br/><br/>
        <p>6)Clicking on any report name in the list takes user to the concerned online report..</p>
        <p>7) Clicking on the back button on this page (highlighted in the snapshot below) navigates back to the <b>BA
            Line Listing Reports</b> landing page:</p>
        <img src="images/UMwebInfo/UMc7.png" alt="MA Section">
        <br/><br/><br/>
        <p>8) <b>BA Aggregate Reports</b> tab shows the following page.The list of all BA
            Aggregate Reports available are displayed, as highlighted in the snapshot below.</p>
        <img src="images/UMwebInfo/UMc6Agg.png" alt="MA Section">
        <br/><br/><br/>
        <p>9)Clicking on any report name in the list takes user to the concerned online report..</p>
        <p>10) Clicking on the back button on this page (highlighted in the snapshot below) navigates back to the <b>BA
            Aggregate Reports</b>landing page:</p>
        <img src="images/UMwebInfo/UMc7Agg.png" alt="MA Section">
        <br/><br/><br/>
        <p>11) <b>User Management</b> tab helps the Admin-level user regarding the User Management page:</p>
        <img src="images/UMwebInfo/UMc8.png" alt="User Management">
        <br/><br/><br/>
        <p>12) <b>My Profile</b> describes about the usage of the login, logout and profile management:</p>
        <img src="images/UMwebInfo/UMc9.png" alt="Profile Section">
        <br/><br/><br/>



        <h4><b>Forgot password</b></h4>
        <p>1) Use the forgot password link provided on the homepage (highlighted on the snapshot below) in case if you
            have forgotten your password</p>
        <img src="images/forgotPassword-1.png" alt="forgotpassword link">
        <br/><br/>
        <p>2) In case of forgot password user will click on the forgot password link to open forgot password page.</p>
        <img src="images/forgotPassword-2.png" alt="forgotpassword Page">
        <br/><br/>
        <p>3) Enter username in the form and click the captcha check box and click submit. Once username is
            identified the system will send a new system generated password to user’s email id. A notification as shown
            in the screenshot below will be shown.</p>
        <img src="images/forgotPassword-3.png" alt="forgotpassword page">
        <br/><br/>
        <p>4) When user will use the new password for the first time system will instruct user to change the password
            (force change) as shown in below screenshot.</p>
        <img src="images/forgotPassword-4.png" alt="forgotpassword page">
        <br/><br/>
        <p>5) After submitting the form password will be changed successfully and a notification as shown in the
            screenshot below will be shown .</p>
        <img src="images/forgotPassword-5.png" alt="forgotpassword Page">
        <br/><br/>

    </div>
</div>
