<div class="container-fluid" data-ng-controller="userManual_ProfileController" style="padding-left: 30px">
    <h2>Profile</h2>
    <div class = "userManualPic">
        <p>1) The users can login into the system using the URL: <a href="https://sbmacademy.co.in/">https://sbmacademy.co.in/</a>.</p>
        <img src="images/ProfileLogin.png" alt="User Manual Login"><br><br>
        <p>2) Enter the valid User Name and Password combination, check the Captcha tickbox and click on ‘Login’ button to log in to the MIS interface. Following screen appears on successful login.</p> <br>
        <img src="images/UMwebInfo/UMp1.png" alt="user Manual Profile"><br><br><br>
        <p>3) Click on 'Your Name Profile' to view your profile.</p>
        <img src="images/UMwebInfo/UMp4.png" alt="user Manual manage profile"><br><br><br>
        <p>4) To update your email-id or contact-no., enter new email-id or contact number in the respective input boxes and click on Update Contact Info button.</p>
        <img src="images/UMwebInfo/UMp5.png" alt="user Manual manage profile"><br><br><br>
        <p>5) Before clicking 'Update Contact Info' Button, to revert changes, click on Reset button.</p>
        <img src="images/UMwebInfo/UMp6.png" alt="user Manual manage profile"><br><br>
        <p>6) To change any other details, contact the admin who created the account.</p>
        <p>7) To change password, click on ‘Change Password’. Fill all the required fields and click on 'Save' button.</p>
        <img src="images/UMwebInfo/UMp3.png" alt="user Manual Change password"><br><br>
        <p>8) After successful password change, application navigates to login page.</p><br>
        <p>9) To logout, click on logout button in the profile dropdown.</p>
        <img src="images/UMwebInfo/UMPlogout.png" alt="user Manual Logout"><br><br><br>

    </div>
</div>
